.elementor-15 .elementor-element.elementor-element-15da3f5>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-7dce1eb .banner-carousel .content-box h6:before {
    background: #fd4a36 !important;
}

.elementor-15 .elementor-element.elementor-element-e555e28>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-c7d05b7 .booking-section .upper-box .link-box a {
    color: #f25743 !important;
    border-color: #f25743;
}

.elementor-15 .elementor-element.elementor-element-115d833>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-b786526>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-4b2b13f>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-106924c>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-0aa2f37>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-5d80667>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-96cdaf6>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-866ec86>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-854eb57>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-a32aca9>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-6d2a802>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-fe34fc2>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-1465bb8>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-15 .elementor-element.elementor-element-d31c51a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}